body {
    background-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
}

#grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

header {
    text-align: center;
}

form {
    padding: 10px;
    border-radius: 10pt;
    margin: auto;
    background-color: rgb(245, 245, 245);
    color: rgb(34, 37, 41);
}

label {
    display: block;
}

small {
    display: block;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


@media (max-width: 576px) {

    form {
        width: 90vw;
    }

}
