body {
    background-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
}

header {
    text-align: center;
}

form {
    width: 500px;
    padding: 10px;
    border-radius: 10pt;
    margin: auto;
    background-color: rgb(245, 245, 245);
    color: rgb(34, 37, 41);
}

label {
    display: block;
}

small {
    display: block;
}

ul {
    list-style: none;
}

#tipPercentage {
    width: 49%;
}

footer {
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


@media (max-width: 556px) {

    form {
        width: 90%;
    }

}
